.serv_list .serv_item, .st_yr_text, .bt_recom .h_search_wrap, .bt_pages_wrap .shop_pages,.type_sum span, .fas_head .fas_title, .fas_head .fas_title, .major_recome .ico_list, .marjor_r_login .user_way, .marjor_r_login .get_some, .end_wrap, .shop_change .change_text, .shop_change .ico_bg, .groom_head .title_wrap, .head_nav .head_nav_item, .h_search_mid .h_search_wrap, .top .enter, .enter .enter_item, .head .head_title{
	display: inline;
	zoom: 1;
}
.bt_recom .ad_item, .mjr_app_con .pic_wrap{
	display: inline;
}
.m_head_nav, .rec_head, .groom .lwrap, .end .line, .gdshop_item, .foot_con .line, .ico_row, .enter_link .ico_bg{
	overflow: hidden;
}
.dayshop_con{
	height: 1030px;
}
.search_inp_wrap .search_inp{
	line-height: 34px;
}
.sel_type_list li, .ad_sec .ad_item, .r_news_list li, .gdshop_con .gdshop_item, .act_sub_item, .major_nav_item, .h_search_recom .recom_item{
	vertical-align: top;
}
.offen_item .o_item_show{
	position: relative;
}
.groom_item .l_offen{
	width: 100%;
	overflow: hidden;
}
.fas_it_con .pic_wrap{
	height: 100%;
}
.help, .bt_gust, .bt_must{
	width: 100%;
	overflow: hidden;
}
.hline_info .hline_title{
	width: 100%;
}
.seller_list .main_left{
	width: 163px;
}
.other_live .live_item{
	display: inline;
}
.r_news_list li{
	overflow: hidden;
	height: 25px;
}
/* IE滤镜 */
.sml_mask .fas_text{
	background-color: #f1f1f1;
	filter: alpha(opacity=70);
	color: #333;
}
.ad_sign{
	background-color: #888;
	filter: alpha(opacity=50);
}
.bt_sotre_con .bt_store_item:hover{
	filter: alpha(opacity=60);
}
/* shopList row */
.row_wrap{
	background: url(../img/icons_1.png) no-repeat 0 -45px;
}
.row_wrap em{
	display: none;
}
.row_wrap_up{
	background: url(../img/icons_1.png) no-repeat -10px -45px;
}
.row_wrap_up em{
	display: none;
}
.liver_con .live_on em{
	display: none;
}
.live_item .live_on{
	background: url(../img/icons.png) no-repeat -76px -329px;
}
.major_live .liver_con .live_on{
	background: url(../img/icons.png) no-repeat 0 -329px;
}
.o_item_show .show_item:hover{
	border-color: #efefef;
}
.row_left{
	background: url(../img/icons_1.png) no-repeat -52px -45px;
}
.row_right{
	background: url(../img/icons_1.png) no-repeat -60px -45px;
}
.row i{
	display: none;
}
.dis_link_l{
	background-position: -35px -45px;
}
.dis_link_r{
	background-position: -43px -45px;
}
.inp_num .num_page .num_pre{
	background: url(../img/icons_1.png) no-repeat -70px -45px;
}
.inp_num .num_page .num_next{
	background: url(../img/icons_1.png) no-repeat -70px -51px;
}
.shop_pages .num_page i{
	display: none;
}
.row_des{
	background: url(../img/icons_1.png) no-repeat -84px -45px;
}
.row_des em{
	display: none;
}
.ad_hot .ad_item{
	height: 322px;
}
.ad_pic .ad_item{
	height: 377px;
}
.row_bt_solid{
	background: url(../img/icons_1.png) no-repeat -91px -45px;
}
.row_bt_solid em{
	display: none;
}
.store_recom{
	zoom: 1;
}
.h_row_l{
	background: url(../img/icons_1.png) no-repeat -106px -47px;
}
.h_row em{
	display: none;
}
.h_row_r{
	background: url(../img/icons_1.png) no-repeat -120px -47px;
}
.rec_wrap .ad_last_item{
	margin-right: 0;
}