body, h1, h3{
	margin: 0;
}
h1, h3, strong{
	font-weight: normal;
}
a{
	text-decoration: none;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
input{
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
}
img{
	vertical-align: top;
}